NET "MODE[1]" LOC = P205;
NET "MODE[0]" LOC = P206;
NET "P_IN[3]" LOC = P192;
NET "P_IN[2]" LOC = P193;
NET "P_IN[1]" LOC = P189;
NET "P_IN[0]" LOC = P190;
NET "P_OUT[3]" LOC = P179;
NET "P_OUT[2]" LOC = P180;
NET "P_OUT[1]" LOC = P177;
NET "P_OUT[0]" LOC = P178;
NET "S_IN" LOC = P165;
NET "S_OUT" LOC = P153;
NET "CLK" LOC = P132;
NET "RST" LOC = P204;
