//! **************************************************************************
// Written by: Map P.20131013 on Sat Oct 21 09:56:29 2023
//! **************************************************************************

SCHEMATIC START;
COMP "MODE<0>" LOCATE = SITE "P206" LEVEL 1;
COMP "MODE<1>" LOCATE = SITE "P205" LEVEL 1;
COMP "P_IN<0>" LOCATE = SITE "P190" LEVEL 1;
COMP "P_IN<1>" LOCATE = SITE "P189" LEVEL 1;
COMP "P_IN<2>" LOCATE = SITE "P193" LEVEL 1;
COMP "P_IN<3>" LOCATE = SITE "P192" LEVEL 1;
COMP "S_IN" LOCATE = SITE "P165" LEVEL 1;
COMP "P_OUT<0>" LOCATE = SITE "P178" LEVEL 1;
COMP "P_OUT<1>" LOCATE = SITE "P177" LEVEL 1;
COMP "P_OUT<2>" LOCATE = SITE "P180" LEVEL 1;
COMP "RST" LOCATE = SITE "P204" LEVEL 1;
COMP "P_OUT<3>" LOCATE = SITE "P179" LEVEL 1;
COMP "S_OUT" LOCATE = SITE "P153" LEVEL 1;
COMP "CLK" LOCATE = SITE "P132" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

